* {
  font-family: Georgia, "Times New Roman", Times, serif;
  box-sizing: border-box;
}

/* body settings on normal page load */
body {
  --body-bg: goldenrod;
  --primary-text-color: black;
  margin: 0;
  padding: 0;
  background-color: var(--body-bg);
  color: var(--primary-text-color);
  transition: all 0.3s ease-in-out;
}

/* body settings when the class .dark is applied */
body.dark {
  --primary-text-color: goldenrod;
  --body-bg: black;
  transition: all 0.3s ease-in-out;
}

h1 {
  text-align: center;
}

.darkmode-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 50%;
  padding: 0;
  overflow: hidden;
  border: 0;
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.darkmode-btn:hover {
  transform: scale(1.2);
}

.switch {
  height: 15px;
  width: 30px;
  transition: all 0.5s ease-in-out;
}

.up {
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.3);
}

.down {
  box-shadow: 0 -3px 5px 1px rgba(0, 0, 0, 0.3);
}

.active {
  background-color: var(--primary-text-color);
}

.light {
  box-shadow: 0 3px 5px 2px rgba(255, 255, 255, 0.7);
}

.arrow {
  cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 2, "opsz" 48;
  color: white;
  transform: scale(1.8);
  transition: all 0.2s ease-in-out;
}

.arrow:hover .material-symbols-outlined {
  transform: scale(2);
  transition: all 0.2s ease-in-out;
}

.carousel {
  max-width: min(90vw, 900px);
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-container {
  width: 550px;
  margin: 50px auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.carousel-item-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  min-height: 500px;
}

.carousel-item {
  padding: 20px;
  margin: 0;
  width: 550px;
  /* height: 650px; */
  overflow-y: auto;
  overflow-x: scroll;
  background-color: whitesmoke;
  position: absolute;
  top: 0;
  left: 200%;
  bottom: 0;
  opacity: 0;
  transition: left 0.5s ease-in-out, opacity 0.1s ease-in-out;
}

.show-item {
  opacity: 1;
  left: 0;
  right: 0;
  transition: left 0.5s ease-in-out, opacity 0.1s ease-in-out;
}

.carousel-item h2,
.carousel-item code {
  font-family: monospace;
}

.carousel-item h2 {
  color: slateblue;
  border-bottom: 1px solid slateblue;
}

.carousel-item code {
  color: black;
}

pre {
  min-width: 260px;
  width: fit-content;
  background-color: #eee;
  padding-right: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 1px 2px rgba(48, 48, 48, 0.1);
}

.hide {
  visibility: hidden;
}

/* media queries */

@media screen and (max-width: 750px) {
  h2 {
    font-size: 0.9rem;
  }

  .carousel {
    max-width: min(95vw, 900px);
  }

  .carousel-container {
    width: 400px;
  }

  .carousel-item {
    width: 400px;
  }

  code {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 0.8rem;
  }

  .darkmode-btn {
    top: 90%;
    right: 50%;
    margin-right: -15px;
  }

  .carousel {
    max-width: min(95vw, 900px);
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-container {
    margin: 15px auto;
    width: 300px;
  }

  .carousel-item-wrapper {
    min-height: 400px;
  }

  .carousel-item {
    width: 300px;
    padding: 15px;
  }

  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 2, "opsz" 48;
    color: white;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
  }

  .arrow:hover .material-symbols-outlined {
    transform: scale(1.5);
    transition: all 0.2s ease-in-out;
  }

  code {
    font-size: 0.6rem;
  }
}
